body {
    background-color: #f8f9fa;
}
.jumbotron {
    background-color: #343a40;
    color: #fff;
    padding: 100px 0;
}
.jumbotron h1 {
    font-size: 2rem;
    font-weight: bold;
}
.lead {
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin-top: 20px;
    
    line-height: 3rem;
    font-weight: 500;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}
.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.features {
    padding: 80px 0;
  }
  .features h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }

.banner-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    filter: drop-shadow(5px 5px 10px #0000008a);
}

/* Button */
.primary-button {
  --color: #007bff;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  line-height: 2.5em;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  background-color: white;
 }
 
 .primary-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .primary-button:hover {
  color: #fff;
 }
 
 .primary-button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .primary-button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .primary-button:active:before {
  background: #0065d0;
  transition: all 0.1s ease;
 }


/* Investment */

.investment {
    padding: 50px 0px;
    
}

.investment h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.investment p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #666;
    text-align: justify;
}


.investment .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.investment-image {
    height: auto;
    margin-block: 20px;
    transition: transform 0.3s ease;
}

.investment-image:hover {
    transform: scale(1.05);
}

/* Features */
.feature-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .feature-item:hover {
    transform: translateY(-10px);
  }

  .feature-item i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #007bff;
  }

  .feature-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .feature-item p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .feature-item ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .feature-item ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .feature-item .price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
  }

  .feature-item .btn-primary {
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
  }

  .feature-item .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

/* Benefits */
  .benefits {
    padding: 80px 0;
}

 h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.benefit-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.benefit-card:hover {
    transform: translateY(-10px);
}

.benefit-card i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #007bff;
}

.benefit-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.benefit-card p {
    font-size: 16px;
    margin-bottom: 0;
}


/* Plans Section */


.plans-section{
  padding: 30px 0px;
}
.plans-section .card {
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  margin-bottom: 20px;
}
.plans-section .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.plans-section .card-header {
  background: linear-gradient(to right, #007bff, #4c9bff);
  color: #fff;
  font-weight: bold;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.plans-section .card-body {
  padding: 2rem;
}

.plans-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}
.plans-section .card-title {
  font-weight: bold;
  font-size: 1.4rem;
  color: #007bff;
  margin-bottom: 1.5rem;
}
.plans-section .card-subtitle {
  font-size: 1.1rem;
  color: #6c757d;
  margin-bottom: 2rem;
}
.plans-section .list-group-item {
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
  border-color: #e9ecef;
}
.plans-section .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s, border-color 0.3s;
}
.plans-section .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}


/* Accordian */


.faq {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.faq h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #343a40;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.accordion-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.accordion-button {
  font-size: 20px;
  font-weight: bold;
  color: #343a40;
  transition: color 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-button:hover,
.accordion-button:focus {
  color: #007bff;
}

.accordion-button::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}

.accordion-body {
  color: #6c757d;
  padding: 20px;
  border-top: 1px solid #dee2e6;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after{
background: none;
}


/* Image Slider */

.portfolio-section{
  padding: 50px 0px;
}

.slider-container { 
  padding-inline: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.slider-track-container {
  overflow: hidden;
  flex: 1;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.image-slide {
  min-width: calc(100% / 3 - 20px);
  margin: 10px;
  transition: transform 0.3s;
}

.image-slide img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-slide:hover {
  transform: scale(1.05);
}

.btn-control {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 20px;
  margin-inline: 10px;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-control:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .slider-container {
      width: 100%;
  }

  .image-slide {
    min-width: calc(100% / 2 - 20px);
  }

  .btn-control {
      padding: 5px 10px;
      font-size: 15px;
      font-weight: 600;
      margin: 0px;
  }
}



/* Ecommerce Section */

.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333333;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}

.advertisers-service-sec {
  background-color: #f5f5f5;
}

.advertisers-service-sec span {
  color: #007bff;
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}

.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#b3b2b2, #007bff);
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 2em 0;
  z-index: 3;
}

.advertisers-service-sec ul {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.advertisers-service-sec .icon-wrapper {

  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 4em;
  width: 4em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.icon-wrapper img{
  width: 100%;
 
}
.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}

.service-card .icon-wrapper {
  background-color: #ffffff;
}


.advertisers-service-sec .service-card:hover h3 {
  color: #ffffff;
}

.advertisers-service-sec .service-card:hover ul {
  color: #f0f0f0;
}

.advertisers-service-sec .service-card:hover .card-text li::before{
  color: white;
}

.card-text li {
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
  position: relative;
 
}

.card-text li:last-child {
  margin-bottom: 0;
}

.card-text li::before {
  
  content: "\2713";
  position: absolute;
  left: -25px;
  top: 0;
  color: #007bff;
  font-size: 18px;
  font-weight: 700;
}

/* Dynamic Website Choose Plan */

#choose-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#choose-plan .card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  background: linear-gradient(to bottom right, #ffffff, #f1f1f1);
}

#choose-plan .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#choose-plan .card-header {
  background-color: #007bff;
  padding: 30px;
  position: relative;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s;
}

#choose-plan .card-header:hover {
  background-color: #0056b3;
  color: #e0e0e0;
}

#choose-plan .card-header h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.3s;
}

#choose-plan .card-header:hover h2 {
  transform: scale(1.1);
}

#choose-plan .card-header p {
  margin: 0;
  font-size: 1.2rem;
}

#choose-plan .ribbon {
  position: absolute;
  top: 10px;
  right: -10px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  text-align: right;
}

#choose-plan .ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  width: 140px;
  display: block;
  background: #6c757d;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

#choose-plan .card-title {
  color: #007bff;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#choose-plan .list-group-item {
  border: none;
  background-color: #f9f9f9;
}

#choose-plan .list-group-flush > .list-group-item{
  text-align: left;
  line-height: 2;
}

#choose-plan .list-group-item ul {
  list-style: none;
  text-align: left;
  padding-left: 20px;
}

#choose-plan .list-group-item ul li {
  
  position: relative;
  padding-left: 25px;
  /* margin-bottom: 10px; */
  font-size: 1rem;
  color: #333;
}

#choose-plan .list-group-item ul li::before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 0;
  color: #007bff;
  font-weight: bold;
  font-size: 1.2rem;
}

#choose-plan .card-footer {
  background-color: #fff;
  padding: 20px;
}

#choose-plan .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s, transform 0.3s;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
}

#choose-plan .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: translateY(-3px);
}

@media (max-width: 767px) {
  #choose-plan .card {
      max-width: 100%;
  }
}