:root{
  --heading-color: #012d5c;
}

body {
  background-color: #f8f9fa;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  position: relative;
  background-color: #343a40;
  color: #fff;
  padding: 160px 0 100px 0px;
  border-radius: 0px;
}
.jumbotron h1 {
  font-size: 2rem;
  font-weight: bold;
}
.lead {
  font-size: 1.2rem;
  margin-bottom: 30px;
  margin-top: 20px;
  line-height: 3rem;
  font-weight: 500;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}
.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.features {
  padding: 80px 0;
}
.features h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.banner-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
  filter: drop-shadow(5px 5px 10px #0000008a);
}

/* Button */
.primary-button {
  --color: #007bff;
  display: inline-block;
  line-height: 2.5em;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  background-color: white;
  padding-inline: 1em;
}

.primary-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
}

.primary-button:hover {
  color: #fff;
}

.primary-button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.primary-button:hover:before {
  top: -30px;
  left: -30px;
}

.primary-button:active:before {
  background: #0065d0;
  transition: all 0.1s ease;
}

/* Investment */

.investment {
  padding: 50px 0px;
}

.investment h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.investment p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666;
  text-align: justify;
}

.investment .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.investment-image {
  height: auto;
  margin-block: 20px;
  transition: transform 0.3s ease;
}

.investment-image:hover {
  transform: scale(1.05);
}

/* Features */
.feature-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
}

.feature-item i {
  font-size: 48px;
  margin-bottom: 20px;
  color: #007bff;
}

.feature-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.feature-item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.feature-item ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.feature-item ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.feature-item .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff;
}

.feature-item .btn-primary {
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.3s ease;
}

.feature-item .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Benefits */
.benefits {
  padding: 80px 0;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.benefit-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.benefit-card:hover {
  transform: translateY(-10px);
}

.benefit-card i {
  font-size: 48px;
  margin-bottom: 20px;
  color: #007bff;
}

.benefit-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.benefit-card p {
  font-size: 16px;
  margin-bottom: 0;
}

/* Plans Section */

.plans-section {
  padding: 30px 0px;
}
.plans-section .card {
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  margin-bottom: 20px;
}
.plans-section .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.plans-section .card-header {
  background: linear-gradient(to right, #007bff, #4c9bff);
  color: #fff;
  font-weight: bold;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.plans-section .card-body {
  padding: 2rem;
}

.plans-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}
.plans-section .card-title {
  font-weight: bold;
  font-size: 1.4rem;
  color: #007bff;
  margin-bottom: 1.5rem;
}
.plans-section .card-subtitle {
  font-size: 1.1rem;
  color: #6c757d;
  margin-bottom: 2rem;
}
.plans-section .list-group-item {
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
  border-color: #e9ecef;
}
.plans-section .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s, border-color 0.3s;
}
.plans-section .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Accordian */

.faq {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.faq h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #343a40;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.accordion-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.accordion-button {
  font-size: 20px;
  font-weight: bold;
  color: #343a40;
  transition: color 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-button:hover,
.accordion-button:focus {
  color: #007bff;
}

.accordion-button::after {
  content: "\f107";
  font-weight: 900;
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}

.accordion-body {
  color: #6c757d;
  padding: 20px;
  border-top: 1px solid #dee2e6;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background: none;
}

/* Image Slider */

.portfolio-section {
  padding: 50px 0px;
}

.slider-container {
  padding-inline: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.slider-track-container {
  overflow: hidden;
  flex: 1;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.image-slide {
  min-width: calc(100% / 3 - 20px);
  margin: 10px;
  transition: transform 0.3s;
}

.image-slide img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-slide:hover {
  transform: scale(1.05);
}

.btn-control {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 20px;
  margin-inline: 10px;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-control:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .slider-container {
    width: 100%;
  }

  .image-slide {
    min-width: calc(100% / 2 - 20px);
  }

  .btn-control {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 0px;
  }
}

/* Ecommerce Section */

.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333333;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}

.advertisers-service-sec {
  background-color: #f5f5f5;
}

.advertisers-service-sec span {
  color: #007bff;
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}

.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#b3b2b2, #007bff);
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 2em 0;
  z-index: 3;
}

.advertisers-service-sec ul {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.advertisers-service-sec .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 4em;
  width: 4em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.icon-wrapper img {
  width: 100%;
}
.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}

.service-card .icon-wrapper {
  background-color: #ffffff;
}

.advertisers-service-sec .service-card:hover h3 {
  color: #ffffff;
}

.advertisers-service-sec .service-card:hover ul {
  color: #f0f0f0;
}

.advertisers-service-sec .service-card:hover .card-text li::before {
  color: white;
}

.card-text li {
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
  position: relative;
}

.card-text li:last-child {
  margin-bottom: 0;
}

.card-text li::before {
  content: "\2713";
  position: absolute;
  left: -25px;
  top: 0;
  color: #007bff;
  font-size: 18px;
  font-weight: 700;
}

.project-section {
  background-color: #fff;
  padding: 50px 0px;
}

.project-section .content p {
  text-align: justify;
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.project-section .image img {
  margin-block: 20px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Dynamic Website Choose Plan */

#choose-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#choose-plan .card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  background: linear-gradient(to bottom right, #ffffff, #f1f1f1);
}

#choose-plan .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#choose-plan .card-header {
  background-color: #007bff;
  padding: 30px;
  position: relative;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s;
}

#choose-plan .card-header:hover {
  background-color: #0056b3;
  color: #e0e0e0;
}

#choose-plan .card-header h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.3s;
}

#choose-plan .card-header:hover h2 {
  transform: scale(1.1);
}

#choose-plan .card-header p {
  margin: 0;
  font-size: 1.2rem;
}

#choose-plan .ribbon {
  position: absolute;
  top: 10px;
  right: -10px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  text-align: right;
}

#choose-plan .ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  width: 140px;
  display: block;
  background: #6c757d;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

#choose-plan .card-title {
  color: #007bff;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#choose-plan .list-group-item {
  border: none;
  background-color: #f9f9f9;
}

#choose-plan .list-group-flush > .list-group-item {
  text-align: left;
  line-height: 2;
}

#choose-plan .list-group-item ul {
  list-style: none;
  text-align: left;
  padding-left: 20px;
}

#choose-plan .list-group-item ul li {
  position: relative;
  padding-left: 25px;
  /* margin-bottom: 10px; */
  font-size: 1rem;
  color: #333;
}

#choose-plan .list-group-item ul li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 0;
  color: #007bff;
  font-weight: bold;
  font-size: 1.2rem;
}

#choose-plan .card-footer {
  background-color: #fff;
  padding: 20px;
}

#choose-plan .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s, transform 0.3s;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
}

#choose-plan .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: translateY(-3px);
}

@media (max-width: 767px) {
  #choose-plan .card {
    max-width: 100%;
  }
}

/* Contact Page/Section */



.contact-form-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-section .content h2 {
  margin-bottom: 20px;
}

.contact-form-section .content img {
  width: 80%;
}

.contact-form-section .content p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.contact-form-section .form-container {
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.contact-form-section .form-container h4 {
  text-align: center;
  margin-bottom: 3rem;
}

.contact-form-section .form-container h4 span {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 5px;
}

.contact-form-section .form-group label {
  color: #1d1d1d;
}

.contact-form-section .form-group input,
.contact-form-section .form-group select,
.contact-form-section .form-group textarea {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding-left: 40px;
}

.contact-form-section .form-group {
  position: relative;
}

.contact-form-section .form-group .fa {
  position: absolute;
  left: 15px;
  top: 72%;
  transform: translateY(-50%);
  color: #525252;
}

.contact-form-section h4 {
  margin-bottom: 20px;
  color: #333;
}

@media (max-width: 490px) {

  .jumbotron{
    padding: 130px 0 100px 0px;
  }
  .contact-form-section .content {
      padding: 20px;
  }

  .contact-form-section .content h2 {
      margin-bottom: 20px;
      font-size: 1.3rem;
  }

  .contact-form-section .content p {
      font-size: 0.9rem;
  }

  .contact-form-section .form-container {
      margin-top: 20px;
      padding: 20px;
  }

  .contact-form-section .form-container form {
      font-size: 0.9rem;
  }

  .contact-form-section .form-group label {
      font-size: 0.9rem;
  }

  .contact-form-section input::placeholder,
  .contact-form-section textarea::placeholder,
  .contact-form-section select option[disabled] {
      font-size: 0.9rem;
  }
}


/* Website Development */

.web-dev-card{
  padding: 30px 0px;
}
.web-dev-card .card {
  height: 100%;
border: none;
border-radius: 10px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
overflow: hidden;
display: flex;
align-items: center;
max-width: 500px;
margin: 0 auto;
}

.web-dev-card .card:hover {
transform: translateY(-5px);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.web-dev-card .card-img {
height: 170px;
width: 100%;
object-fit: cover;
flex: 0 0 auto;


}

.web-dev-card .card-body {
padding: 1rem;
text-align: left;
background-color: #fff;
flex: 1;
}

.web-dev-card .card-title {
font-size: 1.1rem;
font-weight: bold;
line-height: 1.7;
text-transform: uppercase;
letter-spacing: 1px;
color: #333;
margin-block: 0.5rem;
}

/* Web Services Section */

.web-services-section{
  padding: 50px 0px;
}

.web-services-section .container {
  max-width: 900px;
  margin: 0 auto;
  
  
}
.web-services-section .service-card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.web-services-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666;
  text-align: justify;
}

.web-services-section .service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.web-services-section .service-image {
  width: 180px;
  object-fit: cover;
  margin-right: 1.5rem;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.web-services-section .service-content h3 {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.web-services-section .service-content p {
  color: #555;
  margin-bottom: 0;
  font-size: 1rem;
}



.web-services-section .service-card:hover .service-overlay {
  opacity: 1;
}

@media (max-width: 767px) {
  .web-services-section .service-card {
    flex-direction: column;
    text-align: center;
  }

  .web-services-section .service-content h3{
    font-size: 1.1rem;
    margin-block: 10px;
  }

  .web-services-section .service-image {
    margin-right: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* Application Design */

/* Our Services Section */

.design-services-section .content-section {
  padding: 60px 20px;
}

.design-services-section p{
  line-height: 1.7;
}
.design-services-section .section-title {
  font-size: 2.2rem;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
}
.design-services-section .step-card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  background: linear-gradient(to bottom, #fff, #dcdcdc);
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
}
.design-services-section .step-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.design-services-section .step-number {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  top: -15px;
  left: 20px;
}
.design-services-section .step-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.design-services-section .step-body {
  text-align: justify;
}


.design-services-section .step-body ul {
  padding-left: 0;
}
.design-services-section .step-body ul li {
  list-style: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.design-services-section .step-body ul li::before {
  content: "\2713";
  color: #007bff;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .section-title {
      font-size: 2.5rem;
  }
  .step-card {
      display: flex;
      flex-direction: row;
      padding: 30px;
  }
  .step-number {
      width: 40px;
      height: 40px;
      font-size: 1.2rem;
      top: 20px;
      left: 20px;
  }
  .step-title, .step-body {
      margin-left: 60px;
  }
}

/* Why Choose Us */

.why-choose {
  padding: 50px 0;
  background: linear-gradient(45deg, #007bff, #6c757d);
  color: #fff;
}

.why-choose h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.why-choose-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  height: 100%;
  backdrop-filter: blur(10px);
  text-align: justify;
}

.why-choose-card:hover {
  transform: translateY(-10px);
  background-color: rgba(255, 255, 255, 0.2);
}

.why-choose-card i {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.why-choose-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.why-choose-card p {
  font-size: 16px;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/* Software Development */
/* Software Dev Section */

.software-dev-section {
  padding: 50px 0px;
  background-color: #f4f4f4;
  color: #333;
}

.software-dev-section .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.software-dev-section .section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.software-dev-section .section:nth-child(even) {
  flex-direction: row-reverse;
}
.software-dev-section .section img {
  width: 40%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.software-dev-section .section img:hover {
  transform: scale(1);
}
.software-dev-section .section-content {
  width: 50%;
  padding: 20px;
}
.software-dev-section .section-content h2 {
  color: #2c3e50;
  font-size: 28px;
  text-align: left;
  margin-bottom: 15px;
}
.software-dev-section .section-content p {
  line-height: 1.7;
  color: #4f4f4f;
  text-align: justify;
}
.software-dev-section .section-content p a {
  color: #3498db;
  text-decoration: none;
}
.software-dev-section .section-content p a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .software-dev-section .section {
    flex-direction: column;
  }
  .software-dev-section .section:nth-child(even) {
    flex-direction: column;
  }
  .software-dev-section .section img, .software-dev-section .section-content {
    width: 100%;
  }
  .software-dev-section .section-content {
    padding: 10px 0;
  }
}

/* SEO Services Section */

.seo-services-section{
  padding: 80px 0px;
}
.seo-services-section h2{
  margin-bottom: 3rem;
}
.seo-services-section .card {
  border: none;
  overflow: hidden;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.seo-services-section .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.seo-services-section .card-image {
  position: relative;
}

.seo-services-section .card-image img {
  width: 100%;
  height: 100%;
}

.seo-services-section .card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seo-services-section .card:hover .card-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.seo-services-section .card-header {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 1rem;
  background-color: transparent;
  border: none;
}

.seo-services-section .card-body {
  padding: 1.5rem;
}

.seo-services-section .card-text {
  color: #666;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .seo-services-section .card-header {
      font-size: 1rem;
  }
}


/* Portfolio Section */


.portfolio-section .section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}

.portfolio-section .section-subtitle {
  font-size: 1.2rem;
  color: #434343;
  margin-bottom: 2rem;
}

.portfolio-section .portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.portfolio-section .card {
  position: relative;
  width: 400px;
  height: auto;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.portfolio-section .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-section .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.portfolio-section .card:hover .card-img-top {
  transform: scale(1.1);
}

.portfolio-section .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.portfolio-section .card:hover .card-overlay {
  opacity: 1;
}

.portfolio-section .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-body {
  
  padding: 0px;
}

.modal-body img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

@media (max-width: 480px){
  .portfolio-section .section-title{
    font-size: 1.5rem;
  }

  .portfolio-section .section-subtitle {
    font-size: 1rem;
  }
}

/* About Us Section */

.about-us-section, .contact-us{
  padding-top: 0px;
}

.about-us-section .jumbotron {
  background: url(../images/About-banner.jpg) center bottom;
  background-size: cover;
}

.about-us-section .jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.696);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.about-us-section .jumbotron .container {
  position: relative;
  z-index: 2;
}
.about-us-section h1, .about-us-section h2, .about-us-section h3 {
  font-weight: 800;
}

.about-us-section h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-us-section h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-us-section p {
  font-size: 1.1rem;
  line-height: 2;
  color: #555;
}
.who-are-we{
  padding-top: 50px;
}
.about-us-section .img-fluid {
 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us-section .value-box {
  height: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.about-us-section .value-box:hover {
  transform: translateY(-10px);
}

.about-us-section .value-box img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about-us-section .value-box h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about-us-section .value-box p {
  font-size: 1rem;
  color: #666;
}

.about-us-section img:hover{
  transform: scale(1);
}


@media (max-width: 480px){
  .about-us-section h1{
    font-size: 2rem;
  }

  .about-us-section h2{
    font-size: 1.5rem;
  }

  .about-us-section p {
    font-size: 1rem;
    line-height: 2rem;
    color: #555;
  }
}


/* Contact Us */

.about-us-section, .contact-us{
  padding-top: 0px;
}

.contact-us .jumbotron {
  background: url(../images/contact-banner.jpg) center bottom;
  background-size: cover;
}

.contact-us .jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.696);
  backdrop-filter: blur(5px);
  z-index: 1;
}


.contact-us .jumbotron .container {
  position: relative;
  z-index: 2;
}

.contact-us h1{
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* Career Section */

.career-section .jumbotron {
  background: url(../images/career-banner.png) center center;
  background-size: cover;
}

.career-section .jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.696);
  backdrop-filter: blur(5px);
  z-index: 1;
}


.career-section .jumbotron .container {
  position: relative;
  z-index: 2;
}

.career-section h1{
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.career-image img{
  width: 100%;
  margin-block: 1rem;
}

.career-section .career-content{
  line-height: 2;

}

.career-section .why-choose .text-center{
  line-height: 2;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.career-section .job-card-section{
  padding: 80px 0px;
  background-color: #f7f7f7;
}

.career-section .job-card {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.career-section .job-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.career-section .job-card .card-body {
  padding: 20px;
  text-align: center;
}
.career-section .job-card h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}
.career-section .job-card p {
  color: #666;
  margin: 10px 0 20px;
}
.career-section .job-card .btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}
.career-section .job-card .btn:hover {
  background-color: #0056b3;
}

/* Header Banner */

.header-banner .jumbotron {
  background-size: cover;
}

.header-banner .jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.696);
  backdrop-filter: blur(5px);
  z-index: 1;
}


.header-banner .jumbotron .container {
  position: relative;
  z-index: 2;
}

.header-banner h1{
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 2rem;
}


